*{ 
	box-sizing: border-box;
} 
body {
	margin-top: 120px;
	font-family: sans-serif;
	background-color: #333;
	color: #fff;
	display: grid;
	place-items: center;
} 
.wrapper {
	position: relative;
}
.input { 
	height: 50px;
	padding: 20px;
	border: none;
	outline: 2px solid #fff;
	border-radius: 4px; 
	color: #fff;
	background-color: transparent; 
	font-family: monospace;
	font-size: 16px;
}
.label {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(16px, 16px); 
	transition: transform 0.4s;
	font-size: 16px;
}
.input:focus-visible ~ .label,
.input:valid ~ .label{
	transform: translate(0, -25px) scale(0.8);
	font-weight: bold;
	color: #ccc;
}

.input:is(:focus-visible, :valid) {
	outline-color: greenyellow;
}
.icon-wrapper {
	position: absolute;
	top: 50%; 
	transform: translate(-30px, -50%);
	cursor: pointer;
}
.icon {
	color: #ddd;
	font-size: 20px; 
}
.icon:hover {
	color: #bbb;
}